@import url('https://fonts.googleapis.com/css2? family = Itim & display = swap');

body{
    height: 100vh;
    margin: 0;
    font-size:16px;
    background-color: #75b8b0a4;
    font-family: 'Itim', cursive;
    font-weight: 400;
}

*{
    box-sizing: border-box;
    margin:0;
    padding:0;
    outline: none;
}

.custom-box{
    max-width: 1200px;
    max-height: 1100px;
    background-color: rgba(153, 190, 153, 0.699);
    margin: 40px auto;
    padding: 40px;
    border-radius: 100px;
    position:relative;
}

.home-box h2{
    font-size: 18px;
    color: #000000;
    font-weight: 500;
    margin-bottom: 15px;
    line-height: 25px;
    text-align: center;
}

.home-box p{
    font-size: 16px;
    color: #000000;
    font-weight: 400;
    margin-bottom: 10px;
    line-height: 22px;
    text-align: center;
}

.btn {
    margin-top: 20px;
    background-color: #00968770;
    color: #ffffff;
    border: none;
    border-radius: 20px;
    font-size: 16px;
    cursor: pointer;    
    position: relative;
    text-align: center;
}

#but{  
    padding: 15px 20px;
}

#timespent{
    padding: 15px;
}

.quiz-box .option-container .question-initial{
    font-size: 18px;
    color:#11b6a5;
    font-weight: 600;
    border-bottom: 1px solid #cccccc;
    line-height:25px;
}

.quiz-box .option-container .question-number{
    font-size: 18px;
    color:#0a5e55;
}

.quiz-box .question-text{
    font-size: 22px;
    color:#000000;
    line-height: 28px;
    font-weight: 400;
    padding: 20px 0;
    margin: 0;
    
}

.quiz-box .option-container {    
    padding: 15px;
    font-size: 16px;
    line-height: 22px;
    color:#240e49;
    border-radius: 5px;
    cursor: pointer;
}

.quiz-box .card{
    display: inline-block;
    padding: 20px;
}

.quiz-box .card .imag{
    height: 280px;
    width: 450px;
}

.quiz-box .answers{
    margin-left: 60%;
    margin-top: -50px;
}

.quiz-box .answers div{
    height: 40px;
    width: 40px;
    display: inline-block;
    border-radius: 50%;
    margin-right: 3px;
    margin-top: 10px;
}

.quiz-box .answers .a{
    border: 5px solid #53db2a;
    background-color: #abec97;
    text-align: center;
}

.quiz-box .answers .b{
    border: 5px solid #f9fd04;
    background-color: #fafcb0;
    text-align: center;
}

.quiz-box .answers .c{
    border: 2px solid #ee0d0d;
    background-color: #f78a8a;
    text-align: center;
}

.result-box{
    text-align: center;
}

.result-box h1{
    font-size: 36px;
    line-height: 42px;
    color:rgb(153, 190, 153);

}

.result-box table{
    width: 100%;
    border-collapse: collapse;
    margin: 30px 0;
}

.result-box table td{
    border: 1px solid #cccccc;
    padding: 30px 0;
    font-weight: 500;
    color:#000000;
    width: 50%;
    font-size: 18px;
}
.result-box .btn{
    margin-right: 20px;
}

.radiocontainer {     
    background-color: #f1f1f1;
    display: inline-block;
    position: relative;
    padding: 10px 30px 10px 30px;
    margin-bottom: 1px;
    cursor: pointer;
    font-size: 18px;
}
